@charset "UTF-8";
/*------------------- Обнуление стилей---------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-family: "Uni Sans Heavy";
  font-style: italic;
  font-weight: 900;
}

html {
  /* по умолчанию */
  font-size: 24px;
}

.main {
  background: url("../img/bg_main.jpg") center/cover no-repeat;
  height: 100vh;
  position: relative;
}
.main__container {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}
.main__image {
  margin-bottom: 30px;
}
.main__subtitle {
  font-size: 32px;
  line-height: 0.85;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .main__subtitle {
    font-size: 24px;
  }
}
.main__text {
  margin: 0 auto;
}
.main__text {
  display: flex;
  flex-wrap: nowrap;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #c6217d;
  justify-content: center;
  transform: skew(-12deg);
  padding: 12px 20px;
  max-width: 545px;
}
@media (max-width: 767.98px) {
  .main__text {
    font-size: 26px;
    padding: 7px 0px;
    max-width: 370px;
  }
}

@font-face {
  font-family: "Uni Sans Heavy";
  src: url("UniSansHeavyItalic.eot");
  src: local("Uni Sans Heavy Italic"), local("UniSansHeavyItalic"), url("UniSansHeavyItalic.eot?#iefix") format("embedded-opentype"), url("UniSansHeavyItalic.woff") format("woff"), url("UniSansHeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.circle {
  display: flex;
  height: 835px;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: url("../img/bg_well_1x.png") center/contain no-repeat;
  position: relative;
  border: 1px solid red;
}
@media (max-width: 767.98px) {
  .circle {
    height: 375px;
  }
}
.circle__content {
  width: 100%;
  height: 642px;
  align-self: center;
  align-items: center;
  background: url("../img/innercircle_1x.png") center/contain no-repeat;
  position: absolute;
  top: 47%;
  left: -7px;
  transform: translateY(-50%);
  z-index: 2;
  border: 2px solid green;
}
@media (max-width: 767.98px) {
  .circle__content {
    height: 290px;
    top: 47%;
    left: -2px;
  }
}
.circle__block-choice {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
}
.circle__btn {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
  z-index: 11;
}
.circle__btn:hover img {
  transition: all 0.2s ease-in 0s;
  transform: scale(1.05);
}
@media (max-width: 767.98px) {
  .circle__img-btn, .circle__img {
    display: none;
  }
}
.circle__img-btn-mobile, .circle__img-mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .circle__img-btn-mobile, .circle__img-mobile {
    display: block;
  }
}

.girl {
  display: flex;
  justify-content: space-between;
}
.girl__block-image {
  flex: 0 1 45%;
}
.girl__img {
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: 5px solid blue;
}
@media (max-width: 1786.98px) {
  .girl__img {
    max-width: 700px;
  }
}
@media (max-width: 1517.98px) {
  .girl__img {
    max-width: 600px;
  }
}
@media (max-width: 1322.98px) {
  .girl__img {
    max-width: 540px;
  }
}
@media (max-width: 1190.98px) {
  .girl__img {
    max-width: 500px;
  }
}
@media (max-width: 1190.98px) {
  .girl__img {
    max-width: 450px;
  }
}
@media (max-width: 1023.98px) {
  .girl__img {
    max-width: 430px;
  }
}
@media (max-width: 767.98px) {
  .girl__img {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 10;
    width: 410px;
    height: 394px;
  }
}
.girl__img-mobile {
  display: none;
}
@media (max-width: 767.98px) {
  .girl__img-mobile {
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 10;
    width: 410px;
    height: 394px;
  }
}
.girl__empty-block {
  flex: 1 1 55%;
  position: absolute;
  bottom: 0%;
  right: 0%;
}
@media (max-width: 767.98px) {
  .girl__empty-block {
    bottom: -110px;
    right: -120px;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
